:root {
  --dark-blue: #2d314d;
  --lime-green: #31d35c;
  --bright-cyan: #2bb7da;
  --grayish-blue: #9698a6;
  --light-grayish-blue: #f3f4f6;
  --very-light-gray: #fafafa;
  --white: #ffffff;
}

  /* Override default style and set padding and margin to nothing */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
  font-family: 'Public Sans', sans-serif;
  }
  a {
    color: var(--grayish-blue);
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }

  /* common elements */
  button {
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    color: var(--white);
  }
  p {
    color: var(--grayish-blue);
    font-size: 18px;
  }
  h2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--dark-blue);
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    color: var(--dark-blue);
  }
  .container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: visible;
    padding: 0 100px;
  }

  /* navbar */
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
  }
  .flex, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav li a {
    margin: 0 20px 0 20px;
    padding: 25px 0 25px 0;
  }
  .navbar ul li a:hover {
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-image-slice: 1;
  }

  /* hero section */
  .hero-section {
    background-color: var(--very-light-gray);
  }
  .value-title {
    font-size: 22px;
    font-weight: 400;
    color: var(--dark-blue);
  }

  /* value-section */
  .value-section {
    background-color: var(--light-grayish-blue);
  }

  .article-title {
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-blue);
  }

  .article-author {
    font-size: 12px;
    font-weight: 400;
  }

  .article-description {
    font-size: 16px;
    font-weight: 400;
  }

  /* latestt articles section */
  .articles-section {
    background-color: var(--very-light-gray);
  }

  /* footer */
  .footer {
    background-color: var(--dark-blue);
  }

  .footer-link li a{
    color: var(--white);
    font-weight: 300;
  }

  .copy-right{
    font-weight: 300;
    font-size: 14px;
  }

 